body {
  background: url('./images/football_pitch_background_1024x672.jpg') #004400;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
  text-shadow: 2px 2px 1px #000000;
}

h1 {
  font-size: 40px;
}

#leagueTable {
  width: 60%;
  margin: 10px auto;
  text-align: left;
}

#leagueCaption {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}

#teamMatch {
  margin-left: 5px;
}

td {
  padding-left: 10px;
  white-space: nowrap;
}

td:first-child {
  padding-left: 1px;
}
